:root{
    --first-color: #22A39F;
    --first-color-neon: #00fff7;
    --second-color:#434242;
    --third-color:#d6d5d1;
    --background-color:#222222;
}

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box-img{
    width: 40%;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
}

img{
    width: inherit;
}

.section{
    width: 40%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
    border-radius: .5rem;
    margin-top: 3rem;
}

input{
    width: 50%;
    height: 4vh;
    background-color: #d6d5d1;
    color: #434242;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px #22A39F;
    border-radius: .5rem;
    padding: .5rem;
}

input::placeholder{
    color: #434242;
}

.btn-sort{
    width: 5rem;
    height: 3rem;
    background-color: #22A39F;
    border: none;
    outline: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px #22A39F;
    cursor: pointer;
}

.btn-sort:hover{
    opacity: .7;
    background-color:  #00fff7;
    box-shadow: 2px 2px 15px #00fff7;
}

.list{
    width: 40%;
    height: 40vh;
}

#ul{
    width: 100%;
    border: medium solid #22A39F;
    padding: 2rem;
    background-color: #434242;
    text-align: left;
    border-radius: .5rem;
    visibility: hidden;
}
li{
    margin-left: 3rem;
}